.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    position: relative;
    padding-top: -20px;
    width: 50%;
    padding-left: 50%;
  }
}

.action {
  display: flex;
  gap: 5px;
}
.mat-toolbar.mat-primary {
  background: black;
  color: #fff;
}