<mat-toolbar color="primary">
    <span>Customer AHPOP- New Order</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<div mat-dialog-title>
    <h1>Order</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>empid</mat-label>
                <input matInput type="text" placeholder="" formControlName="empid">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>shipperid</mat-label>
                <input matInput placeholder="" formControlName="shipperid">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>shipname</mat-label>
                <input matInput type="text" placeholder="" formControlName="shipname">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>shipaddress</mat-label>
                <input matInput type="text" placeholder="" formControlName="shipaddress">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>shipcity</mat-label>
                <input matInput type="text" placeholder="" formControlName="shipcity">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>shipcountry</mat-label>
                <input matInput type="text" placeholder="" formControlName="shipcountry">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>orderdate</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="orderdate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>requireddate</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="requireddate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>shippeddate</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="shippeddate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>freight</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="freight">
            </mat-form-field>
        </div>
        <div mat-dialog-title>
            <h1>Order Details</h1>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>productid</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="productid">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>unitprice</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="unitprice">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>qty</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="qty">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>discount</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="discount">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>